<footer class="bg-[#4169E1] text-white p-4">
  <div class="container mx-auto flex justify-between items-center">
    <div>
      <h3 class="text-xl font-bold">BidHive</h3>
      <p>Links</p>
      <ul>
        <li><a href="/public/index.html" class="hover:underline">Home</a></li>
        <li>
          <a href="/public/listings.html" class="hover:underline">Listings</a>
        </li>
        <li><a href="/public/about.html" class="hover:underline">About</a></li>
        <li>
          <a href="/public/contact.html" class="hover:underline">Contact Us</a>
        </li>
      </ul>
    </div>
    <div>
      <h3 class="text-xl font-bold">Contact</h3>
      <p>
        Email:
        <a href="mailto:BidHive@mail.com" class="hover:underline"
          >BidHive@mail.com</a
        >
      </p>
      <p>Phone: +47 412 34 567</p>
      <p>Address: Bergenveien 2</p>
    </div>
    <div>
      <h3 class="text-xl font-bold">Socials</h3>
      <div class="flex space-x-4">
        <a href="#"
          ><img
            src="/public/icons/instagram.png"
            alt="Instagram"
            class="h-6 w-6"
        /></a>
        <a href="#"
          ><img src="/public/icons/facebook.png" alt="Facebook" class="h-6 w-6"
        /></a>
        <a href="#"
          ><img src="/public/icons/linkedin.png" alt="LinkedIn" class="h-6 w-6"
        /></a>
      </div>
    </div>
  </div>
  <div class="text-center mt-4">
    <p>Copyright &copy; Samail Pugaev</p>
  </div>
</footer>
